.skillsBlock {
  height: 100vh;
  background-color: rgb(69, 236, 111);
}

.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: rgb(52, 14, 206);
}

.skills {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
